*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: "Roboto",sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: #1d263a;
    font-weight: 300;
    
    
}



.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
 }

 .contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
     
 }


 h1{
     font-size: 50px;
 }
/* header */

    header::before{
        content: "";
        display: block;
        margin-bottom:80px ;
    }


        
 nav{
     width: 100%;
     height: 80px;
     background-color: #fff;
     border-bottom: 1px solid transparent;
     box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    /* transition: ease-in-out 0.5; */;
    position: fixed;
    top: 0;
    z-index: 100;
 }

 .nav{
     display: flex;
     justify-content: space-between;
     height: 80px;
     width: 90%;
     align-items: center;
 }

 
.nav .logo{
    height: 80px;
    
}
 .nav .logo img{
    height: 100%;
    vertical-align: top;
    
 }

 .enlaces-header{
     font-weight: 100;
 }

 .enlaces-header a{
     text-decoration: none;
     margin-left:20px;
     color: #5d6678 ;

 }

 .hamburguer{
    width: 80px;
    height: 80px;
display: none;
    text-align: center;

 }

 .hamburguer >i{
     font-size: 25px;
     line-height: 80px;
     z-index: 100;
     cursor: pointer;
     /* transition: color 0.5s ease-in; */
 }


.contenido-header{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-between;
    align-items: center;
}


.contenido-header img{
    width: 60%;
    animation: ease-in animat 1s;
}

.textos-header{
    margin: 0px 0px 10px 30px;
    width: 37%;
    
    
}
.textos-header h1{
    margin-bottom: 10px;
    font-weight: 400;
    
}
.textos-header p{
    font-weight: 100;
    margin-bottom: 20px;
    color: #5d6678;

}
.textos-header a{
    width: 130px;
    text-align: center;
    padding: 12px 0px;
    color: #fff;
    border-radius: 5px;
    background-color: #00eb37;

    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    transition: .6s;
    

}

.textos-header a:hover{
    box-shadow: 0 0 12px rgb(0, 0, 0,0.3);  
    transition: .3s;
}

@keyframes animat{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


/* section */


.about-us{
    background-color: #f2f2f2;
}

.titulo{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.contenedor-articulo{
display: flex;
flex-wrap: wrap;
margin-top: 60px;
justify-content: space-around;

    
}

.articulo{
width: 29%;
background-color: #fff;
margin-bottom: 30px;
border-radius: 10px;
padding: 45px 30px 60px 30px;
transition: .2s;

}

.articulo:hover{
    box-shadow: 0px  4px 10px rgba(0, 0, 0,.5 );
}

.articulo>i{
    font-size: 30px;
    margin-bottom: 5px;
    color: #fff;
    background: #1FDE82; 
    border-radius :50%;
    display: inline-block;
    width: 60px ;
    padding-top: 20px;
    height: 70px;
    text-align: center;
    box-shadow:  0 13px 32px rgba(31,224,130,.3);

} 

.articulo h3{
    font-size: 24px;
    margin-top: 30px;
    font-weight: 200;
}
.articulo p{
    margin-top: 15px;
    font-weight: 100;
}

.articulo a{
    margin-top:15px ;
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: .6s;

}

.articulo a:hover{
    color: #00eb37;
    transition: .6s;
}


/* otra section */


.questions{
    margin-top: 80px;
    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    
}


.questions img{
    width: 60%;
    animation: ease-in animat 1s;
}

.textos-questions{
    margin: 0px 0px 10px 30px;
    
    
}
.textos-questions h1{
    margin-bottom: 10px;
    font-weight: 400;
    
    
}
.textos-questions p{
    font-weight: 100;
    margin-bottom: 20px;
    color: #5d6678;

}
.textos-questions a{
    width: 130px;
    text-align: center;
    padding: 12px 0px;
    color: #fff;
    border-radius: 5px;
    background-color: #00eb37;

    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    transition: .6s;
    

}




.textos-questions a:hover{
    box-shadow: 0 0 12px rgb(0, 0, 0,0.3);      
   
    transition: .3s;
}



/* otra section */


.result{
    background:#0066ff ;
 
    
}
.conten-results{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  
    

}

.numbers{
    width: 60%;
    flex-wrap: wrap;
    display: flex;
    color: #fff;
    justify-content: space-around;
   
    
    
 
}

.number{
width: 45%;
background:rgba(255, 255, 255, 0.2);
color: #fff;
border-radius: 10px ;
padding: 40px 30px;
margin-bottom: 20px;

}


.numbers .number h4{
    color: #fff;
    font-size: 50px;
    font-weight:500;
    margin-bottom: 20px;

}

.numbers .number p{
    font-weight: 200;
}


.results-text{
    width: 37%;
    
}

.results-text h4{
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.results-text p{
font-weight: 200;
font-size: 17px;
margin-bottom: 20px;
color: #fff;

}

.results-text a{
    color: #fff;
    text-align: center;
    display: block;
    width: 120px;
    padding: 15px 10px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 25px;
}

/* otra section */

.services{
    display: flex;
    
}
.services img{
    width: 60%;
}

.box-skills{
   width: 37%;
    margin:30px 30px 0px 0px ;
 
    
  
}

.box-skills h4{
    
    padding: 10px 0px;
    margin-bottom: 10px;
    margin-left: 15px;
    background:#f2f2f2 ;
    color: #000;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 400;
    border-radius: 6px;
    width: 350px;
    
}


.box-skills i{
    margin-left: 12px;
    color: #00fa45;
}


/* footer */

footer{

    display: flex;
    padding-bottom: 70px;
    background: #f2f2f2;
    width: 100%;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.partFooter{
    margin-top: 50px;
    width: 25%;
    text-align: center;
   

}

.partFooter img{
    margin-left: 40px;
    width: 150px;
    height: 100px;
}

.partFooter h4{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}
.partFooter a{
    display: block;
    text-decoration: none;
    transition: 1.4s;
    color: #000;
    font-weight: 200;
    text-align: center;
    margin-bottom: 10px;
}

.partFooter a:hover{
    color: #00eb37;
    font-weight: 400;
    transition: .4s;
}


.partFooter i{
    display: inline-flex;
    margin-top: 20px;
    /* width: 22%; */
    text-decoration: none;
    color: #adb6c7;
    font-weight: 200;
    text-align: center;
    border-radius: 60%;
    border:1px solid #adb6c7;
    font-size: 20px;
    justify-content: space-evenly;
    padding: 7px 8px;
    cursor: pointer;
    margin-right: 10px;
   
}

.partFooter i:hover{
    color: #fff;
    background-color: #00eb37;    
    border-color: #00eb37;
    transition: .4s ease-in-out;
}

#facebook{

padding: 7px 12px;
text-align: center;
border-radius:50%;
}



/*Breakpoint Respondive */

@media screen and (max-width:800px){
/* contenido del header */
.contenido-header{
    display:block;
}

.textos-header {
    
    width: 100%;

}

.textos-header h1{
    font-weight: 400;
}

.contenido-header img{
    margin-left: 160px;
    
}
/* other section */

.questions{
    
display: block;
}

.textos-questions{
    width: 100%;
    margin: auto;
    align-items: center;
    
}
.questions img{
    margin-left: 130px;
    margin-top: 50px;

}


/* other section */
.conten-results{
    display: block;
    
    
    
}

.results-text {
 
    width: 100%;
 
}

.results-text h4{
    font-size: 34px;
}

.results-text a{
    padding: 12px 8px;
    margin-bottom: 40px;
}

.numbers{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    

   
}
.number{
width: 47%;
height: 238px;


}

/* other section */

.services{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
}

.services img{
    margin-left: auto;
 margin-right: auto;
    
}



.box-skills{
width: 100%;

}

.box-skills h4{
    width: 80%;
    margin-bottom: 10px;
    margin-left: 70px;
}

/* /* footer */

footer{
  
    width: 100%;
}
.partFooter{
    display: block;
    width: 40%;
}

.partFooter h4{
    width: 100%;
    margin-bottom: 30px;
}
.partFooter i{
    font-size: 20px;
}


}




